
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
 align-items: center;
}
 h1,h2,p {
  font-family: 'Open Sans', sans-serif;
 }
 p{margin-top:2px}

 .search {
        width: 85%;
        padding: 12px 24px;
        background-color: transparent;
        font-size: 14px;
        line-height: 18px;
        color: #575756;
        background-color: transparent;
        margin-left: 0px;
        box-shadow: inset 0px 0px 0px 4px #698269;
        border-radius:10px
}

button {
  margin-top:10px;
  border:2px solid #698269;
  background-color: antiquewhite;
  font-family: 'Open Sans', sans-serif;
  color:black;
  font-weight: bold;
  padding:8px;
  width: 100px;
  border-radius:10px;
}
button:hover {
  background-color: #698269;
  color: antiquewhite;
}
ul {
  list-style: none;
}

li{
  font-family: 'Open Sans', sans-serif;
  background-color: antiquewhite;
  font-weight: bold;
  margin-top:3px;
  border-radius: 10px;

}

.recipe {
  margin-top:50px;
}

img {
  background-color: antiquewhite;
  padding:10px;
}